.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  vertical-align: middle;
}

html {
  height: 100%;
}

body {
  min-height: 100%;

  &.visitors {
    background-image: image-url("restaurant.jpg");
    background-size: cover;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffffff;
    }
  }
}

