%li.dropdown
  = link_to '#', class: 'dropdown-toggle', 'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', role: 'button' do
    Administration
    %span.caret
  %ul.dropdown-menu
    %li= link_to 'Dashboard', admin_dashboard_path
    %li= link_to 'Users', admin_users_path
    %li= link_to 'Tables', admin_tables_path
